@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter.ttf);
}

@import "taskCard.scss";
@import "popups.scss";
@import "general.scss";